* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   /* background-color: rgb(0, 0, 0); */
   font-family: 'Courier New', Courier, monospace;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   overflow: hidden;
}

.container {
    display: flex;
    width: 80vw;
}

.panel {
    /* background: cover center center no-repeat ; */
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    cursor: pointer;
    color: white;
    margin: 10px;
    flex: 0.5;
    position: relative;
    transition: flex 300ms ease-in;
}

.panel.active {
    flex: 5;
}

.panel h3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0px;
    opacity: 0;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 500ms ease-in 400ms;
}

@media (max-width: 500px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4),.panel:nth-of-type(5) {
        display: none;
    }
}